{% extends 'base.html' %}

{% block content %}

<div class="jumbotron">
    <h1>Hi ! Welcome to house hunter !</h1>
    <h2>What are we looking for today ?</h2>

    <form method="post">
        {{ form.hidden_tag() }}
        {{ form.min_price.label }} {{ form.min_price }}
        {% for error in form.min_price.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br>
        {{ form.max_price.label }} {{ form.max_price }} 
        {% for error in form.max_price.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
        <br>
        <br>
        {{ form.submit }}
    </form>


</div>

{% endblock content %}